.vue3-q-tel-input {
  &.no-inherit-feedback, .no-inherit-feedback {
    &.q-field--highlighted {
      .q-field__inner {
        .q-field__inner {
          .q-field__control {
            &::after { display: none; }
          }
        }
      }
    }
  }
  
  &.no-feedback, .no-feedback {
    .q-field__control {
      &::after { display: none; }
    }
  }

  &--country {
    .q-field__control {
      background: none !important;
      &::before {
        display: none !important;
      }
    }
    .q-field__input {
      border: none !important;
    }
  }
}

.v3-q-tel--country-selector {
  position: sticky !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.q-field--labeled.q-field--dense .v3-q-tel-input--country .q-field__native {
  padding: 0;
}